.home {
  width: 100vw;
  min-height: 100vh;
  background: url(../images/home-bg.png) center center no-repeat;
  background-size: cover;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.home::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26vh;
  background: linear-gradient(to top, 
  rgba(1, 1, 3, 1) 13%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
}

.home .top-left-logo {
  position: absolute;
  width: 70px;
  top: 40px;
  left: 6%;
}

.home p {
  font-size: 100px;
  font-weight: bolder;
  color: var(--gold);
  padding: 170px 0 0 6%;
  line-height: 140px;
}

.home .order-now-button  {
  margin: 70px 0 100px 6.5%;
  width: fit-content;
}

.home .order-now-button a {
  background-color: transparent;
  color: var(--gold);
  font-family: 'K2D';
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 30px 10px;
  border: 3px solid var(--gold);
  border-radius: 6px;
  
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.home .order-now-button span {
  background-color: rgba(38, 38, 38, 0.443);
  height: 100%;
  width: 0;
  border-radius: 6px;
  left: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  transition: width 0.8s;
}

.home .order-now-button a:hover span {
  width: 100%;
} 

.home .order-now-button a:hover, 
.home .order-now-button:hover  {
  box-shadow:  3px 3px 20px 3px rgba(0, 0, 0, 0.093);
  z-index: 1;
}

.home .order-now-button a:active {
  opacity: 100%;
  box-shadow: 2px 1px 34px rgba(197, 195, 173, 0.853);
  color: white;
}

.home .order-now-button a:focus {
  outline: none;
  border-color: none;
}

.home .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: 130px;
  position: absolute;
  right: 5.2%;
  bottom: 10%;
}

.home .social-media img {
  cursor: pointer;
  height: 65px;
}